<h3> Welcome to your profile page, {{username}}</h3>

<a href="/personal-data">Consult My Info</a>
</br>
</br>
<a href="/private">Private Space</a>


<form method="post" action="/logout">
</br>
<button>Log Out</button>
</form>