<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/login">Log In</a>
</br>
</br>
<a href="/signup">Sign Up</a>
</br>
</br>
<a href="/home">Profile Page</a>
</br>
</br>
<a href="/personal-data">Edit Your Profile</a>
