<a href="/">Back ></a>

<h2>Log-In</h2>

<form method="post" action="/login">
    <input name="username" type="text" placeholder="choose your username">
    <input name="password" type="password" placeholder="type a password">
    <button>Log In</button>
</form>